body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ccc;
}

.App {
    width: 800px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
}

.todo-title {
    margin: 0;
    padding: 0 0 15px;
    width: fit-content;
    border-bottom: 2px solid black;
}

.task-list {
    padding: 0;
}

.task-list li {
    list-style-type: "👉";
    cursor: pointer;
    width: 400px;
    overflow-wrap: break-word;
    font-size: 20px;
    margin-left: 25px;
}

.input {
    padding: 17px 5px;
    margin-bottom: 20px;
    background-color: #eee;
    border: none;
}

.input:focus{
    border: 1px solid #0075ff;
    outline: none;
    transition: 0.3s;
}

.input:focus::placeholder {
    opacity: 0;
    transition: 0.3s;
}

.btn {
    padding: 10px 5px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    background-color: #0075ff;
    border: none;
}

.done {
   text-decoration: line-through;
}

.delete-task {
    cursor: pointer;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    margin: 15px 0;
}

.not-found-tasks {
    list-style-type: none !important;
    text-align: center;
    width: 100% !important;
    font-size: 25px;
    font-weight: bold;
    color: #777;
    margin: 15px 0;
}